*{
    font-family: serif;
    margin: 0px;
    padding: 0px;
}
html{
    font-size: 62.5%;
}
.container-one{
    width: 50%;
    margin: auto;
    text-align: center;
    font-size: 2rem;
}
.container-two{
    padding: 20px;
    width: 50%;
    margin: 20px auto;
}
li{
    list-style: none;
    /* text-align: center; */
    display: inline;
    text-align: center;
}