*{
    font-family: serif;
    margin: 0px;
    padding: 0px;
}
html{
    font-size: 62.5%;
}
.container-one{
    width: 50%;
    margin: auto;
    text-align: center;
    font-size: 2rem;
}
.container-two{
    width: 50%;
    margin: 20px auto;
    text-align: center;
}
ul{
    margin: 10px;
}
li{
    list-style: none;
    display: inline;
    padding: 40px;    
}