*{
    font-family: serif;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
html{
    font-size: 62.5%;
    /* border: 2px groove black; */
    border-color: black;
    border-width: 10px;
    
}
.container-one{
    width: 50%;
    margin: auto;
    text-align: center;
    font-size: 2rem;
}
.container-two{
    width: 50%;
    margin: 20px auto;
    text-align: center;
}
ul{
    margin: 10px;
}
li{
    list-style: none;
    display: inline;
    padding: 40px;    
}