*{
    font-family: serif;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
html{
    font-size: 62.5%;
    border: 6px double black;
}
.container-one{
    width: 50%;
    margin: auto;
    text-align: center;
    font-size: 4rem;
}
.container-two{
    width: 50%;
    margin: 20px auto;
    text-align: center;
}
ul{
    margin: 10px;
}
li{
    list-style: none;
    display: inline;
    padding: 40px;    
}
.container-three{
    width: 60%;
    margin: 20px auto;
    text-align: center;
    font-weight: normal;
    font-size: 2rem;
}
img{
    width: 260px;
    height: 260px;
    display: inline;
}
